/*
Errno::ENOENT: No such file or directory @ rb_sysopen - scss/sass.scss

Backtrace:
/Users/farmcrowdyfront-end/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:454:in `read'
/Users/farmcrowdyfront-end/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
/Users/farmcrowdyfront-end/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/farmcrowdyfront-end/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `each'
/Users/farmcrowdyfront-end/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/farmcrowdyfront-end/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/farmcrowdyfront-end/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin.rb:109:in `method_missing'
/Users/farmcrowdyfront-end/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
/Users/farmcrowdyfront-end/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/farmcrowdyfront-end/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/base.rb:50:in `parse'
/Users/farmcrowdyfront-end/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/base.rb:18:in `parse!'
/Users/farmcrowdyfront-end/.rvm/gems/ruby-2.5.1@global/gems/sass-3.5.7/bin/sass:13:in `<top (required)>'
/Users/farmcrowdyfront-end/.rvm/rubies/ruby-2.5.1/bin/sass:23:in `load'
/Users/farmcrowdyfront-end/.rvm/rubies/ruby-2.5.1/bin/sass:23:in `<main>'
/Users/farmcrowdyfront-end/.rvm/gems/ruby-2.5.1@global/bin/ruby_executable_hooks:24:in `eval'
/Users/farmcrowdyfront-end/.rvm/gems/ruby-2.5.1@global/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - scss/sass.scss"; }
