@import 'mixins';
// @import 'colors';
body {
    font-family: 'Circular', sans-serif;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    background: hsl(190, 46%, 54%);
    background: hsl(190, 48%, 100%);
    color: hsl(190, 28%, 18%);
}
html {
    scroll-behavior: smooth;
  }
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
// .app{
//     position: relative;
// }
.device{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 1000;	
}
.logo_container{
    a{
        img{
            width: 200px;
            height: 45px;
            object-fit: contain;
        }
    }
}
/*hero section begins*/
._hero_bg{
        padding-top: 6.5em;
        padding-bottom: 10.5em;
        height: 100%;
        position: relative;
        &:before{
            position: absolute;
            content:"";
            bottom:0;
            left:0;
            width:100%;
            height: 100%;
            background: url("../images/bg/hero.svg") no-repeat;
            background-size: cover;
            @include filter(opacity(1));
            @include filter(grayscale(.3));
            z-index: -2;
        }
        &:after{
            position: absolute;
            content:"";
            bottom:0;
            left:0;
            width:100%;
            height: 100%;
            background: hsla(190, 48%, 99%,0.16);
            z-index: -1;
        }
        .hero_content{
            text-align: center;
            max-width: 50%;
        }
        .hero_title{
            color:#666;
            color: hsla(190, 30%, 29%,0.8);
            color: hsla(190, 30%, 25%,0.8);
            font-size: 38px;
            font-weight: bold;
            line-height:1.3;
        }
        p{
            color:#666;
            color: hsla(190, 30%, 35%,0.8);
            font-size: 22px;
            font-weight: 500;
            line-height:1.4;
            padding-top:10px;
        }
        .hero_cta{
            text-align: center;
            padding-top:20px;
            padding-bottom:50px;
            a{
                background:hsl(186, 30%, 37%);
                color:hsl(186, 30%, 97%);
                @include border-radius(4px);
                padding:10px 25px;
                @include transition(all .35s);
                &:hover{
                    background: hsl(186, 30%, 42%);
                    color:hsl(186, 30%, 90%);
                    text-decoration: none;
                    @include transition(all .35s);
                }
            }
        }
}
/*hero section ends*/
/*secure section begins*/
.secure_section_bg{
    background:hsl(190, 46%, 54%);
    padding-top:80px;
    padding-bottom:80px;
    .secure_section{
        display: -moz-grid;
        display: grid;
        grid-gap:20px;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        .secure_section_hero{
            align-content: center;
            display:-moz-grid;
            display:grid;
            h3{
                color: hsl(190, 46%, 100%);
                font-size: 34px;
                line-height: 1.1;
                // font-weight: bold;
                padding-right: 40px;
            }
        }
        .secure_section_card{
            background: hsl(186, 30%, 100%);
            .inner_container{
                padding:20px 15px;
                .card_title{
                   color: hsl(190, 26%, 30%);
                   font-size: 1.2rem;
                }
                .card_content{
                   color: hsl(190, 26%, 27%);
                   line-height: 1.4;
                }
            }
        }
    }
}
/*secure section ends*/
/*how it works section begins*/
.how_it_works_container{
    background: hsl(190, 48%, 99.8%);
    padding-top:80px;
    padding-bottom:40px;
    .how_it_works_title{
        text-align: center;
        padding-bottom: 20px;
        h2{
            color: hsla(190, 30%, 25%,0.8);
            font-size: 34px;
        }
        p{
            color: hsla(190, 25%, 25%,0.8);
        }
    }
    .how_it_works_content{
        display: -moz-grid;
        display: grid;
        padding-left:150px;
        padding-right:150px;
        grid-gap: 30px;
        grid-template-columns: repeat(3, minmax(240px, 1fr));
    }
    .how_it_works_card{
        background: hsl(190, 58%, 88%);
        background: hsla(10, 0%, 95%,.8);
        background: #FAFAFA;
        padding:40px 20px;
        @include border-radius(5px);
        text-align: center;
        span{
            color: #99CC99;
            font-size: 16px;
            background: hsl(0, 0%, 99%);
            background: hsl(0, 0%, 100%);
            width: 35px;
            height: 35px;
            font-weight: 500;
            font-size: 22px;
            display: inline-block;
            @include border-radius(50%);
        }
        .how_it_works_img{
            padding-top:30px;
        }
        .how_it_works_card_title{
            color: hsla(190, 30%, 25%,0.8);
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 0.6rem;
            margin-top: 1rem;
        }
        .how_it_works_body{
            color: hsl(190, 26%, 37%);
            line-height: 1.4;
            // color:#222222;
        }
    }
}
/*how it works section ends*/
/*money on tree section begins*/
.money_tree{
    background: hsl(190, 48%, 99.8%);
    padding-top:20px;
    padding-bottom:40px;
    margin-top:20px;
    z-index: -2;
    position: relative;
    overflow: hidden;
    &:after{
        position: absolute;
        height: 100%;
        width: 100%;
        content: " ";
        right:0%;
        top:0;
        background: url("../images/bg/logo_as_bg.svg")no-repeat;
        z-index: -1;
        background-size:contain;
        background-position: center right; 
        background-attachment: fixed;
    }
    .money_tree_container{
        display: -moz-grid;
        display: grid;
        padding-left:100px;
        padding-right:100px;
        grid-gap: 30px 0;
        grid-template-columns: 1fr 1fr ;
        .img_money_tree{
            max-width: 360px;
            img{
                width:100%;
            }
        }
    }
    .money_tree_card2{
           display: -moz-grid;
           display: grid;
           align-content: center;
           .money_tree_cta{
                padding-top:20px;
                padding-bottom:50px;
                a{
                    background:hsl(186, 30%, 37%);
                    color:hsl(186, 30%, 97%);
                    @include border-radius(4px);
                    padding:10px 25px;
                    @include transition(all .35s);
                    &:hover{
                        background: hsl(186, 30%, 42%);
                        color:hsl(186, 30%, 90%);
                        text-decoration: none;
                        @include transition(all .35s);
                    }
                }
           }
    }
    .money_tree_content{
        max-width: 320px;
     
        h2{
            color: hsla(190, 30%, 25%,0.8);
            font-size: 34px;
            line-height: 1.3;
        }
        p{
            line-height: 1.4;
            color: hsl(190, 26%, 37%);
        }
    }
}
/*money on tree section ends*/
/*news letter section begins*/
.news_letter_bg{
    padding-top:60px;
    padding-bottom:60px;
    margin-top:40px;
    margin-bottom:80px;
    text-align: center;
    background: hsla(71, 71%, 80%,.29);
    h2{
        color: hsla(190, 30%, 25%,0.8);
        font-size: 34px;
        line-height: 1.3;
    }
    p{
        line-height: 1.4;
    }
    .news_letter_form{
        padding:20px 50px 5px;;
        max-width:700px;
        margin:0 auto;
        input[type=email]{
            &:focus{
                box-shadow: none !important;
                @include border(1px, solid,hsla(190, 30%, 55%,0.8));
            }
        }
        button[type="button"]{
            background:hsl(186, 30%, 37%);
            padding-left:25px;
            padding-right:25px;
            color:hsl(186, 30%, 97%);
            &:hover{
                background:hsl(186, 30%, 47%);
            }
            &:focus{
                box-shadow: none !important;
                background:hsl(186, 27%, 37%);
            }
        }
        span{
            color: hsla(190, 30%, 25%,0.8);
            text-align: left;
            display: block;
        }
    }
}
/*news letter section ends*/
/*footer section begins*/
.footer_container{
    padding:20px 80px 80px;
    display: -moz-grid;
    display: grid;
    grid-gap: 30px;
    grid-template-columns:repeat(5, minmax(160px, 1fr));
    .footer_company{
        &:last-of-type{
            padding-left:10px;
        }
        .footer_title{
            color:hsl(190, 46%, 44%);
            font-weight: 500;
            font-size:1.2rem;
            padding-bottom: 8px;
        }
        ul{
            list-style-type: none;
            padding-left:0;
            li{
                line-height: 1.5;
                a{
                    color:hsl(190, 15%, 45%);
                    // color:#222;
                    @include transition(all 0.35s);
                    font-size: 1rem;
                    &:hover{
                        color:hsl(190, 20%, 60%);
                        @include transition(all 0.35s);
                        text-decoration: none;
                    }
                }
            }
        }
        .contact{
            a{
                display: block;
                color:hsl(190, 15%, 45%);
                // color:#222;
                @include transition(all 0.35s);
                font-size: 1rem;
                &:hover{
                    color:hsl(190, 20%, 60%);
                    @include transition(all 0.35s);
                    text-decoration: none;
                }
            }
        }
        .socials{
            li{
                display:inline-block;
                padding-right:4px;
                a{
                    svg{
                        path{
                            @include transition(all .35s);
                            fill:hsl(190, 20%, 30%);;
                            // stroke:hsl(190, 20%, 60%);;
                        }
                    }
                }
                &.cv_fb{
                    &:hover{
                        svg{
                            path{
                                @include transition(all .35s);
                                fill:#4251A2;
                            }
                        }
                    }
                }
                &.cv_tw{
                    &:hover{
                        svg{
                            path{
                                @include transition(all .35s);
                                fill:#0084b4;
                            }
                        }
                    }
                }
                &.cv_yt{
                    &:hover{
                        svg{
                            path{
                                @include transition(all .35s);
                                fill:#cc181e;
                            }
                        }
                    }
                }
                &.cv_ig{
                    &:hover{
                        svg{
                            path{
                                @include transition(all .35s);
                                fill:#9b6954;
                            }
                        }
                    }
                }
                &.cv_lk{
                    &:hover{
                        svg{
                            path{
                                @include transition(all .35s);
                                fill:#0077b5;
                            }
                        }
                    }
                }
            }
        }
        .footer_app{
            li{
                &:first-of-type{
                    padding-bottom: 10px;
                }                
                a{
                    svg{
                       height: 30px;
                       widows: 100px;  
                    }
                }
            }
        }
    }

}
/*footer section ends*/
/*dashboard section begins*/
.dashboard_container_bg{
    // margin-bottom: 80px;
    .dashboard_container{
        display:-moz-grid;
        display:grid;
        grid-template-columns: 260px minmax(0, 1fr);
        .dashboard_nav{
        background: #BFEEF7;
        background: hsl(190, 78%, 86%);
            .navigation{
                padding-top:30px;
                position: sticky;
                position: -webkit-sticky;
                list-style-type: none;
                padding-left:0;
                top:120px;
                li{
                    a{
                        padding:15px 40px;
                        line-height: 1.3;
                        font-weight: 400;
                        width:100%;
                        display: inline-block;
                        @include transition(all .35s);
                        color: hsl(0, 0%, 13%);
                        &:hover{
                            background: hsl(190, 78%, 96%);
                            @include transition(all .35s);
                            text-decoration: none;
                            color: hsl(0, 0%, 20%);
                        }
                    }
                    &.pad_bottom{
                        position: relative;
                        padding-top:30px;                        
                        &:before{
                            position: absolute;
                            content:"";
                            width:80%;
                            left:10%;
                            top:15px;;
                            -webkit-border-top:1px solid hsl(190, 78%, 97%);
                            -o-border-top:1px solid hsl(190, 78%, 97%);
                            -ms-border-top:1px solid hsl(190, 78%, 97%);
                            -moz-border-top:1px solid hsl(190, 78%, 97%);
                            border-top:1px solid hsl(190, 78%, 97%);
                        }
                    }
                    &.pad_top{
                        position: relative;
                        padding-bottom:30px;                        
                        &:before{
                            position: absolute;
                            content:"";
                            width:80%;
                            left:10%;
                            bottom:15px;;
                            -webkit-border-top:1px solid hsl(190, 78%, 97%);
                            -o-border-top:1px solid hsl(190, 78%, 97%);
                            -ms-border-top:1px solid hsl(190, 78%, 97%);
                            -moz-border-top:1px solid hsl(190, 78%, 97%);
                            border-top:1px solid hsl(190, 78%, 97%);
                        }
                    }
                    &.log_out{
                        a{color:hsl(0, 100%, 42%);}
                    }
                    &.active{
                        a{
                            background: hsl(190, 78%, 94%);
                            color: hsl(190, 58%, 40%);
                        }
                    }
                }
            }
        }
        .dashboard_body_container{
            background: hsl(190, 48%, 99.7%);
            background: #fafafa;
            padding-left: 80px;
            padding-right: 80px;
            min-height: 70vh;
            height: 100%;
            z-index: 1;
            position: relative;
            overflow: hidden;
            &:before{
                position: absolute;
                content:"";
                // right:-200px;
                // top: 0;
                bottom:0;
                right:-20px;
                width:100%;
                height:100%;
                // background: url("../images/bg/body_bg.svg")no-repeat;
                z-index: -1;
                background-size:auto;
                background-position: bottom right; 
                -ms-transform: rotate(50deg);
                -webkit-transform: rotate(50deg); 
                transform: rotate(50deg);
                @include filter(grayscale(0.8));
               opacity: .3;
            }
            .dashboard_header{
                padding-top:30px;

                h3{
                    font-size: 1.45rem;
                    margin-bottom: .3rem;  
                }
                p{
                    color:#666666;
                }
            }
            .carousel_container{
                padding-top:10px;
                padding-bottom:30px;
                border-bottom:1px solid hsla(190, 28%, 50%,0.3);
                .carousel_item{
                    background: hsl(190, 48%, 99.9%);
                    @include border-radius(5px);
                    padding: 10px 15px;
                    @include box-shadow (0px 2px 4px hsl(190, 48%, 90%));
                    @include border (1px, solid, hsl(190, 20%, 96%));
                   .carousel_title{
                    margin-bottom: 0.2rem;
                    color:  hsl(190, 30%, 30%)
                   }
                   .expected_amount{
                       p{
                          color:hsl(190, 48%, 50%); 
                            color:#53ADBF;
                          font-weight: 500;
                          font-size: 1.04rem;
                       }
                   }
                   .svg_img{
                       position: relative;
                    //    min-height: 40px;
                    svg{
                        right:0;
                        top:-35px;
                        position: absolute;
                        height: 35px;
                        width: 35px;
                    }
                }
                }
            }
          .dashboard_body{
                .back_to_dashboard{
                    padding-top:40px;
                    a{
                        color:hsl(190, 20%, 20%); 
                        @include transition(all 0.35s);   
                        color:#444444;
                        &:hover{
                            color:hsl(190, 40%, 40%); 
                            @include transition(all 0.35s);   
                            text-decoration: none;                         
                        }
                    }
                }
                .invest_category{
                    ul{
                        list-style-type: none;
                        background: hsl(0,0%,100%);
                        @include border-radius(5px);
                        padding-left:12px;
                        li{
                            display: inline-block;
                            padding:12px 1px;
                            a{
                                color:#666666;
                                padding:5px 12px;
                                font-size: 0.96rem;
                               &:hover{
                                   text-decoration: none;
                                   color: hsl(0, 0%, 30%);
                               }
                            }
                            &.active{
                                a{
                                    @include transition(all 0.35s);
                                    @include border-radius(6px);
                                    color: hsl(0,0%,100%);
                                    background: hsl(162, 30%, 60%);
                                    &:hover{
                                        @include transition(all 0.35s);
                                        background: hsl(162, 30%, 50%);
                                    }
                                }
                            }
                        }
                    }
                }
            .body_header{
                display:-moz-grid;
                display:grid;
                grid-template-columns: repeat(2, 1fr);
                padding-top:40px;
                .featured{
                    color:hsl(191, 57%, 93%); 
                    color:#53ADBF;
                    font-weight: 500;
                    font-size: 1.2rem;
                }
                .see_more{
                    text-align: right;
                    @include transition(all 0.35s); 
                    select{
                        color:hsl(0, 0%, 30%);
                        @include border (1px, solid,hsl(0, 0%, 70%));
                        &:focus{
                            @include border (1px, solid,hsl(191, 57%, 53%));
                            @include outline (1px, solid, transparent);
                            @include box-shadow(none);
                        }
                        option{
                            color:hsl(0, 0%, 50%)
                        }
                    }                           
                    a{
                        color:hsl(190, 20%, 20%); 
                        color:#666666;
                        &:hover{
                            color:hsl(190, 40%, 40%); 
                            @include transition(all 0.35s);   
                            text-decoration: none;                         
                        }
                    }
                }
            }
            .dashboard_body_content{
                display:-moz-grid;
                display:grid;
                grid-template-columns: repeat(3, minmax(240px, 1fr));
                grid-gap: 30px;
                padding-top:30px;
                padding-bottom:30px;
                .portfolio_cards{
                    background: hsl(190, 40%, 100%);
                    @include border-radius (10px);
                    padding:10px;
                    .image_container{
                        img{
                            @include border-radius (8px);
                            height: 150px;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .title_container{
                        display:-moz-grid;
                        display:grid;
                        grid-template-columns: minmax(0, 1fr) 120px;
                        padding-top:15px;
                       .invest_title{
                           h4{
                               font-size: 1.04rem;
                               margin-bottom: 0rem;
                               font-weight: 500;
                           }
                           .location{
                               font-size: 0.8rem;
                               color:#666666;
                               font-weight: 500;
                           }
                       } 
                       .invest_location{
                            p.amount_{
                                font-size: 1.04rem;
                                text-align: right;
                                // font-weight: 500;  
                                margin-bottom: 0rem;
                                line-height: 1.2;
                                color: #41747A;
                        }
                        .inv_price{
                            font-size: 0.8rem;
                            text-align: right;
                            color:#666666;
                            // font-weight: 500;
                        }
                       }
                    }
                    .duration_container{
                        display:-moz-grid;
                        display:grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        .percentage{
                            p{
                                font-size: 0.95rem;
                            }
                            .sponsorship{
                                font-size: 0.8rem;
                                line-height: 1.2;
                                color:#666666;
                                margin-bottom: 0;
                            }
                        }
                        .duration_{
                            p{
                                font-size: 0.95rem;
                            }
                            .duration_title{
                                font-size: 0.8rem;
                                line-height: 1.2;
                                margin-bottom: 0;
                                color:#666666;
                            }
                        }
                    }
                    .sponsor_btn{
                        text-align: center;
                        padding-top:5px;
                        a{
                            
                            display: block;
                            padding:5px;
                            color:hsl(0, 0%, 13%);
                            font-size: 1rem;
                            @include border-radius(5px);
                            &.sponsor_now{
                                @include transition (all 0.35s);
                                @include border(1px,solid,hsl(71, 52%, 63%));
                                background: hsl(71, 52%, 63%);
                                &:hover{
                                    background:hsl(71, 52%, 97%);
                                    color:hsl(71, 22%, 33%);
                                    font-weight: 400;
                                    text-decoration: none;
                                    @include transition (all 0.35s);
                                    }
                            }
                            &.coming_soon{
                                background: hsl(0, 0%, 67%);
                                color:hsl(0, 0%, 100%);
                                @include transition (all 0.35s);
                                @include border(1px,solid,hsl(0, 0%, 67%));
                                &:hover{
                                background:hsl(0, 0%, 97%);
                                color:hsl(10, 5%, 20%);
                                text-decoration: none;
                                @include transition (all 0.35s);
                                }
                            }
                            &.sold_out{
                                @include transition (all 0.35s);
                                background:hsl(0, 100%, 99.5%);
                                @include border(1px,solid,hsl(0, 100%, 42%));
                                color:hsl(0, 100%, 42%);
                                &:hover{
                                    background:hsl(0, 100%, 42%);
                                    color:hsl(0, 0%, 100%);
                                    text-decoration: none;
                                    @include transition (all 0.35s);
                                }
                            }
                        }
                    }
                }
            }
          }
        }
    }
}
/*dashboard section ends*/

// .device {
// 	position: relative;
// 	width: 100vw;
// 	height: 100vh;
// 	background: #FFF;
// 	border: 1px solid #EEE;
// 	border-radius: 3px;
// 	box-shadow: 0 0 0 10px rgba(0,0,0,.1);
// }
/*section containers*/
.section_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.news_letter_bg{
    @extend .section_container;
}
@media (min-width: 576px){
    .section_container {
        max-width: 540px;
    }
    .section_container_security {
        max-width: 640px;
    }
    .section_container_footer {
        max-width: 640px;
    }
}
@media (min-width: 768px){
    .section_container {
        max-width: 720px;
    }
    .section_container_how_it_works{
        max-width: 1020px;
    }
}
@media (min-width: 992px){
    .section_container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .section_container {
        max-width: 1140px;
    }
}
@media only screen and (min-width:992px){
    .app{
        position: relative;
        z-index: 0;
    }
  .container_nav{
        .open-main-nav{display:none;}
        display:flex;
        background: hsl(190, 50%, 98%);
        background: hsl(190, 48%, 100%);
        display:-webkit-flex;
        justify-content: space-between;
        padding:15px 80px;
    //   .logo_container{
    //       display: inline;
    //   }
      .main-nav{
          display: grid;
          justify-content: center;
          align-self: center;
          ul{
              list-style-type: none;
              padding-left: 0;
              margin-bottom: 0;
              li{
                  padding:1px 5px;
                  display: inline-block;
                  a{
                      padding:7px 15px;
                      color: hsl(190, 20%, 18%);
                      @include transition(all .35s);
                      &:hover{
                            text-decoration: none;
                            @include transition(all .35s);
                            color: hsl(190, 20%, 38%);
                      }
                  }
                  &.create_accn{
                      a{
                            background:hsl(186, 30%, 37%);
                            color:hsl(186, 30%, 97%);
                            @include border-radius(4px);
                            &:hover{
                                background: hsl(186, 30%, 42%);
                                color:hsl(186, 30%, 90%);
                                @include transition(all .35s);
                            }
                        }
                  }
              }
          }
      }
  } 
  ._hero_bg{
        .hero_content{
            text-align: center;
            max-width: 40%;
            position: relative;
            left:30%;
        }
} 
}
@media only screen and (min-width:1700px){
    .dashboard_container_bg{
        .dashboard_container{
            .dashboard_body_container{
              .dashboard_body{
                .dashboard_body_content{
                    grid-template-columns: repeat(4, minmax(240px, 1fr));
                    grid-gap: 30px;
                    .portfolio_cards{
                        .image_container{
                            img{
                                @include border-radius (8px);
                                height: 150px;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}
}
@media only screen and (min-width:2100px){
    .dashboard_container_bg{
        .dashboard_container{
            .dashboard_body_container{
              .dashboard_body{
                .dashboard_body_content{
                    grid-template-columns: repeat(5, minmax(240px, 1fr));
                    grid-gap: 30px;
                    .portfolio_cards{
                        .image_container{
                            img{
                                @include border-radius (8px);
                                height: 150px;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}
}
@media only screen and (min-width:2600px){
    .dashboard_container_bg{
        .dashboard_container{
            .dashboard_body_container{
              .dashboard_body{
                .dashboard_body_content{
                    grid-template-columns: repeat(6, minmax(240px, 1fr));
                    grid-gap: 30px;
                    .portfolio_cards{
                        .image_container{
                            img{
                                @include border-radius (8px);
                                height: 150px;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}
}
@media only screen and (max-width:1265px){
    .dashboard_container_bg{
        .dashboard_container{
            .dashboard_body_container{
                padding-left: 40px;
                padding-right: 40px;
              .dashboard_body{
                .dashboard_body_content{
                    grid-template-columns: repeat(3, minmax(240px, 1fr));
                    grid-gap: 30px;
                    .portfolio_cards{
                        .image_container{
                            img{
                                @include border-radius (8px);
                                height: 150px;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                        .duration_container{
                            .percentage,.duration_{
                                p{font-size: 0.9rem;}
                            }
                        }
                    }
                }
            }
        }
    }
}
}
@media only screen and (max-width:1199px){
    .dashboard_container_bg{
        .dashboard_container{
            .dashboard_body_container{
                padding-left: 80px;
                padding-right: 80px;
              .dashboard_body{
                .dashboard_body_content{
                    grid-template-columns: repeat(2, minmax(240px, 1fr));
                    grid-gap: 30px;
                    .portfolio_cards{
                        .image_container{
                            img{
                                @include border-radius (8px);
                                height: 150px;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                        .duration_container{
                            .percentage,.duration_{
                                p{font-size: 0.9rem;}
                            }
                        }
                    }
                }
            }
        }
    }
}
    .footer_container{
        padding:20px 0px 80px;
        display: -moz-grid;
        display: grid;
        grid-gap: 30px;
        grid-template-columns:repeat(5, minmax(160px, 1fr));
    }
    .how_it_works_container{
        .how_it_works_content {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    .money_tree{
        .money_tree_container {
            grid-gap: 30px 70px;
        }
    }
}



    @media only screen and (max-width:991px){
        .dashboard_container_bg{
            .dashboard_container{
                .dashboard_body_container{
                    padding-left: 40px;
                    padding-right: 40px;
                  .dashboard_body{
                    .dashboard_body_content{
                        grid-template-columns: repeat(2, minmax(240px, 1fr));
                        grid-gap: 30px;
                        .portfolio_cards{
                            .image_container{
                                img{
                                    @include border-radius (8px);
                                    height: 150px;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                            .duration_container{
                                .percentage,.duration_{
                                    p{font-size: 0.9rem;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
        .money_tree{
            .money_tree_container {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    /* Main menu positionning */
.main-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    top: -60%;
    text-align: center;
    background: #FFF;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    top: 0;
    visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
	 content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    right: -15px;
    background: #FEDC2A;
    background: #53ADBF;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 100%; 
    position: relative;
    overflow-y: scroll;
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
    &::-webkit-scrollbar {
    display: none;
    }
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
    &:first-of-type{
        // margin-top: 80px;
    }
    &:last-of-type{
        margin-bottom: 25px;
    }
}

/* Apparition effect on links */
.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}
.main-nav li:nth-child(1) a {
	transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
	transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
	transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
	transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
	transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px 0;
	color: #5A3B5D;
	font-size: 1.4em;
	text-decoration: none;
	font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
	position: absolute;
	top: 15px;
	padding-top: 20px;
	right: 15px;
	z-index: 1000;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
.burger {
	position: relative;
	display: block;
	width: 28px;
	height: 4px;
	margin: 0 auto;
	background: #5A3B5D;
	transform: skew(5deg);
	transition: all .275s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: #5A3B5D;
	transition: all .275s;
}

.burger:after {
	transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
	transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

/* MENU Text part */

.burger-text {
	display: block;
	font-size: .675rem;
	letter-spacing: .05em;
	margin-top: .5em;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color: #5A3B5D;
}
    .container_nav {
        // position: absolute;
        top: 0; right: 0;
        bottom: 0; left: 0;
        // overflow: hidden;
        background: linear-gradient(to bottom, #eee, #ddd);
    }
    /*footer columns*/
    .footer_container{
        padding:20px 0px 80px;
        display: -moz-grid;
        display: grid;
        grid-gap: 30px;
        grid-template-columns:repeat(3, minmax(160px, 1fr));
    }
    .secure_section_bg{
        .secure_section {
            display: -moz-grid;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr;
            
        }
    }
    .money_tree{
        .money_tree_content{
            h2 {
                font-size: 30px;
            }
        }
    }
}

@media only screen and (max-width:900px){
    .dashboard_nav_hide, .d_hide_side{
        display:none;
    }
   
    .dashboard_container_bg{
        .dashboard_container{
            grid-template-columns: minmax(0,1fr);
            .dashboard_nav{
                position: fixed;
                width:280px;
                top:0;
                padding-top: 30px;
                padding-bottom: 30px;
                z-index: 1001;
                overflow-y: scroll;
                height: 100%;
                background: #BFEEF7;
                background: hsl(190, 78%, 86%);
                    .navigation{
                        padding-top:0px;
                        position: relative;
                        // position: -webkit-sticky;
                        list-style-type: none;
                        padding-left:0;
                        top:0px;
                    
                    }
                }
                .dashboard_body_container{
                    padding-left: 40px;
                    padding-right: 40px;
                .dashboard_body{
                    .dashboard_body_content{
                        grid-template-columns: repeat(3, minmax(240px, 1fr));
                        grid-gap: 20px;
                    }
                }
            }
        }
    }
    .how_it_works_container {
        .how_it_works_content {
            padding-left: 120px;
            padding-right: 120px;
            grid-gap: 30px;
            grid-template-columns: repeat(2, minmax(240px, 1fr));
        }
        // .how_item:nth-last-child(1):nth-child(odd) {
        //     grid-column: 1 / span 3;
        // }        
    }
}
@media only screen and (max-width:850px){
    .dashboard_container_bg{
        .dashboard_container{
                .dashboard_body_container{
                    padding-left: 80px;
                    padding-right: 80px;
                .dashboard_body{
                    .dashboard_body_content{
                        grid-template-columns: repeat(2, minmax(240px, 1fr));
                        grid-gap: 30px;
                    }
                }
            }
        }
    }
}
    @media only screen and (max-width:767px){
        .dashboard_container_bg{
            .dashboard_container{
                    .dashboard_body_container{
                        padding-left: 40px;
                        padding-right: 40px;
                    .dashboard_body{
                        .dashboard_body_content{
                            grid-template-columns: repeat(2, minmax(240px, 1fr));
                            grid-gap: 30px;
                        }
                    }
                }
            }
        }
     /*how it works*/
    .how_it_works_container {
        .how_it_works_content {
            padding-left: 0px;
            padding-right: 0px;
            grid-template-columns: repeat(2, minmax(240px, 1fr));
        }
    }
     /*footer columns*/
     .footer_container{
        padding:20px 0px 80px;
        grid-gap: 20px;
        grid-template-columns:repeat(3, minmax(160px, 1fr));
    }
 
}
@media only screen and (max-width:575px){
    .how_it_works_container{
        .how_it_works_content {
            grid-gap: 15px;
            grid-template-columns: repeat(2, minmax(190px, 1fr));
            .how_it_works_img{
                display: none;
            }
        }
    }
    .secure_section_bg{
        .secure_section{
            .secure_section_hero{
                h3 {
                    font-size: 32px;
                    line-height: 1.1;
                    padding-right: 10px;
                }
            }
        }
    }
    .news_letter_bg {
        .news_letter_form button[type="button"] {
            padding-left: 15px;
            padding-right: 15px;
        } 
    }
    .money_tree {
        .money_tree_container {
            align-items: center;
            grid-gap: 30px 40px;
            .money_tree_content{
                h2 {
                    font-size: 32px;
                    line-height: 1.1;
                }
            }
        }
    }
}
@media only screen and (max-width:640px){
    .dashboard_container_bg{
        .dashboard_container{
                .dashboard_body_container{
                    padding-left: 120px;
                    padding-right: 120px;
                .dashboard_body{
                    .body_header{
                        .featured{
                            p{
                                line-height: 1.1;
                                font-size: 1.2rem;
                            }
                        }
                    }
                    .dashboard_body_content{
                        grid-template-columns: repeat(1, minmax(240px, 1fr));
                        grid-gap: 30px;
                    }
                }
            }
        }
    }
}
    @media only screen and (max-width:525px){
        .dashboard_container_bg{
            .dashboard_container{
                    .dashboard_body_container{
                        padding-left: 80px;
                        padding-right: 80px;
                    .dashboard_body{
                        .dashboard_body_content{
                            grid-gap: 30px;
                        }
                    }
                }
            }
        }
        .money_tree {
            .money_tree_container {
                grid-gap: 30px 0;
                grid-template-columns: 1fr;
                .img_money_tree{
                    max-width: 55%;
                }
            }
        }
    }
        @media only screen and (max-width:425px){
            .dashboard_container_bg{
                .dashboard_container{
                        .dashboard_body_container{
                            padding-left: 60px;
                            padding-right: 60px;
                        .dashboard_body{
                            .dashboard_body_content{
                                grid-gap: 30px;
                            }
                        }
                    }
                }
            }
        .news_letter_bg {
            .news_letter_form {
                padding: 20px 30px 5px;
            }
        }
        .secure_section_bg{
            .secure_section{
                grid-gap: 15px;
                .secure_section_hero{
                    h3 {
                        font-size: 28px;
                        padding-right: 0px;
                    }
                }
            }
        }
        .how_it_works_container{
            .how_it_works_content {
                grid-gap: 30px;
                padding-left:20px;
                padding-right:20px;
                grid-template-columns: repeat(1, minmax(200px, 1fr));
            }
        }
        
    .footer_container {
        padding: 20px 0px 80px;
        display: -moz-grid;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
    .footer_company_order_2{
        order:1;
    }
    .footer_company_order_3{
        order:2;
    }
}
@media only screen and (max-width:375px){
    .dashboard_container_bg{
        .dashboard_container{
                .dashboard_body_container{
                    padding-left: 40px;
                    padding-right: 40px;
            }
        }
    }
    .news_letter_bg {
        .news_letter_form {
            padding: 20px 8px 5px;
        }
    }
    .money_tree {
        .money_tree_container {
            .img_money_tree{
                max-width: 65%;
            }
        }
    }
    .footer_container {
        grid-gap: 0px;
    }
}
@media only screen and (max-width:347px){
    .dashboard_container_bg{
        .dashboard_container{
                .dashboard_body_container{
                    padding-left: 20px;
                    padding-right: 20px;
            }
        }
    }
}

    /*mobile slider begins*/
    .slider {
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }



    @-webkit-keyframes slideInRight {
        from {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(100%, 0, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
    }

    @keyframes slideInRight {
        from {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
    }

    .slideInRight {
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight;
    }

    @-webkit-keyframes slideInLeft {
        from {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes slideInLeft {
        from {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
    }

    /*mobile slider ends*/