body {
  font-family: 'Circular', sans-serif;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  background: #54aec0;
  background: white;
  color: #21363b;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.device {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo_container a img {
  width: 200px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
}

/*hero section begins*/
._hero_bg {
  padding-top: 6.5em;
  padding-bottom: 10.5em;
  height: 100%;
  position: relative;
}

._hero_bg:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/bg/hero.svg") no-repeat;
  background-size: cover;
  -webkit-filter: opacity(1);
  -ms-filter: opacity(1);
  -moz-filter: opacity(1);
  -o-filter: opacity(1);
  filter: opacity(1);
  -webkit-filter: grayscale(0.3);
  -ms-filter: grayscale(0.3);
  -moz-filter: grayscale(0.3);
  -o-filter: grayscale(0.3);
  filter: grayscale(0.3);
  z-index: -2;
}

._hero_bg:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(251, 253, 254, 0.16);
  z-index: -1;
}

._hero_bg .hero_content {
  text-align: center;
  max-width: 50%;
}

._hero_bg .hero_title {
  color: #666;
  color: rgba(52, 89, 96, 0.8);
  color: rgba(45, 77, 83, 0.8);
  font-size: 38px;
  font-weight: bold;
  line-height: 1.3;
}

._hero_bg p {
  color: #666;
  color: rgba(62, 107, 116, 0.8);
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  padding-top: 10px;
}

._hero_bg .hero_cta {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

._hero_bg .hero_cta a {
  background: #42757b;
  color: #f5f9fa;
  border-radius: 4px;
  padding: 10px 25px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

._hero_bg .hero_cta a:hover {
  background: #4b858b;
  color: #deeced;
  text-decoration: none;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

/*hero section ends*/
/*secure section begins*/
.secure_section_bg {
  background: #54aec0;
  padding-top: 80px;
  padding-bottom: 80px;
}

.secure_section_bg .secure_section {
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
}

.secure_section_bg .secure_section .secure_section_hero {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
}

.secure_section_bg .secure_section .secure_section_hero h3 {
  color: white;
  font-size: 34px;
  line-height: 1.1;
  padding-right: 40px;
}

.secure_section_bg .secure_section .secure_section_card {
  background: white;
}

.secure_section_bg .secure_section .secure_section_card .inner_container {
  padding: 20px 15px;
}

.secure_section_bg .secure_section .secure_section_card .inner_container .card_title {
  color: #395a60;
  font-size: 1.2rem;
}

.secure_section_bg .secure_section .secure_section_card .inner_container .card_content {
  color: #335157;
  line-height: 1.4;
}

/*secure section ends*/
/*how it works section begins*/
.how_it_works_container {
  background: #feffff;
  padding-top: 80px;
  padding-bottom: 40px;
}

.how_it_works_container .how_it_works_title {
  text-align: center;
  padding-bottom: 20px;
}

.how_it_works_container .how_it_works_title h2 {
  color: rgba(45, 77, 83, 0.8);
  font-size: 34px;
}

.how_it_works_container .how_it_works_title p {
  color: rgba(48, 74, 80, 0.8);
}

.how_it_works_container .how_it_works_content {
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  padding-left: 150px;
  padding-right: 150px;
  grid-gap: 30px;
  -ms-grid-columns: (minmax(240px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(240px, 1fr));
}

.how_it_works_container .how_it_works_card {
  background: #cfecf2;
  background: rgba(242, 242, 242, 0.8);
  background: #FAFAFA;
  padding: 40px 20px;
  text-align: center;
}

.how_it_works_container .how_it_works_card span {
  color: #99CC99;
  font-size: 16px;
  background: #fcfcfc;
  width: 35px;
  height: 35px;
  font-weight: 500;
  font-size: 22px;
  display: inline-block;
  border-radius: 50%;
}

.how_it_works_container .how_it_works_card .how_it_works_img {
  padding-top: 30px;
}

.how_it_works_container .how_it_works_card .how_it_works_card_title {
  color: rgba(45, 77, 83, 0.8);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

.how_it_works_container .how_it_works_card .how_it_works_body {
  color: #466f77;
  line-height: 1.4;
}

/*how it works section ends*/
/*money on tree section begins*/
.money_tree {
  background: #feffff;
  padding-top: 40px;
  padding-bottom: 80px;
}

.money_tree .money_tree_container {
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  padding-left: 100px;
  padding-right: 100px;
  grid-gap: 30px;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.money_tree .money_tree_content {
  max-width: 400px;
}

.money_tree .money_tree_content h2 {
  color: rgba(45, 77, 83, 0.8);
  font-size: 34px;
}

/*money on tree section ends*/
/*section containers*/
.section_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .section_container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .section_container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .section_container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .section_container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 992px) {
  .container_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f7fcfc;
    background: white;
    display: -webkit-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 80px;
  }
  .container_nav .open-main-nav {
    display: none;
  }
  .container_nav .main-nav {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .container_nav .main-nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  .container_nav .main-nav ul li {
    padding: 1px 5px;
    display: inline-block;
  }
  .container_nav .main-nav ul li a {
    padding: 7px 15px;
    color: #253437;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .container_nav .main-nav ul li a:hover {
    text-decoration: none;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    color: #4e6e74;
  }
  .container_nav .main-nav ul li.create_accn a {
    background: #42757b;
    color: #f5f9fa;
    border-radius: 4px;
  }
  .container_nav .main-nav ul li.create_accn a:hover {
    background: #4b858b;
    color: #deeced;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  ._hero_bg .hero_content {
    text-align: center;
    max-width: 40%;
    position: relative;
    left: 30%;
  }
}

@media only screen and (max-width: 991px) {
  /* Main menu positionning */
  .main-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    top: -60%;
    text-align: center;
    background: #FFF;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    -webkit-transition: all .375s;
    transition: all .375s;
  }
  .main-nav.is-open {
    opacity: 1;
    z-index: 100;
    top: 0;
    visibility: visible;
  }
  /* Yellow band effect */
  .main-nav::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    right: -15px;
    background: #FEDC2A;
    background: #53ADBF;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: skew(-14deg) translateX(-120%);
            transform: skew(-14deg) translateX(-120%);
    -webkit-transition: all .275s .1s;
    transition: all .275s .1s;
  }
  .main-nav.is-open::before {
    -webkit-transform: skew(-14deg) translateX(0);
            transform: skew(-14deg) translateX(0);
  }
  /* Skewing effect on menu links */
  .main-nav ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(-18%) skew(-16deg);
            transform: translateX(-18%) skew(-16deg);
  }
  .main-nav ul::-webkit-scrollbar {
    display: none;
  }
  .main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    -webkit-transform: skew(16deg);
            transform: skew(16deg);
  }
  .main-nav li:last-of-type {
    margin-bottom: 25px;
  }
  /* Apparition effect on links */
  .main-nav a {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .main-nav.is-open a {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .main-nav li:nth-child(1) a {
    -webkit-transition: all 275ms 175ms;
    transition: all 275ms 175ms;
  }
  .main-nav li:nth-child(2) a {
    -webkit-transition: all 275ms 225ms;
    transition: all 275ms 225ms;
  }
  .main-nav li:nth-child(3) a {
    -webkit-transition: all 275ms 275ms;
    transition: all 275ms 275ms;
  }
  .main-nav li:nth-child(4) a {
    -webkit-transition: all 275ms 325ms;
    transition: all 275ms 325ms;
  }
  .main-nav li:nth-child(5) a {
    -webkit-transition: all 275ms 375ms;
    transition: all 275ms 375ms;
  }
  /* Decoration */
  .main-nav ul,
  .main-nav li {
    list-style: none;
    padding: 0;
  }
  .main-nav a {
    display: block;
    padding: 12px 0;
    color: #5A3B5D;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bold;
  }
  /* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
  .open-main-nav {
    position: absolute;
    top: 15px;
    padding-top: 20px;
    right: 15px;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer;
  }
  .open-main-nav:focus {
    outline: none;
  }
  .burger {
    position: relative;
    display: block;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    background: #5A3B5D;
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
    -webkit-transition: all .275s;
    transition: all .275s;
  }
  .burger:after,
  .burger:before {
    content: '';
    display: block;
    height: 100%;
    background: #5A3B5D;
    -webkit-transition: all .275s;
    transition: all .275s;
  }
  .burger:after {
    -webkit-transform: translateY(-12px) translateX(-2px) skew(-20deg);
            transform: translateY(-12px) translateX(-2px) skew(-20deg);
  }
  .burger:before {
    -webkit-transform: translateY(-16px) skew(-10deg);
            transform: translateY(-16px) skew(-10deg);
  }
  /* Toggle State part */
  .is-open .burger {
    -webkit-transform: skew(5deg) translateY(-8px) rotate(-45deg);
            transform: skew(5deg) translateY(-8px) rotate(-45deg);
  }
  .is-open .burger:before {
    -webkit-transform: translateY(0px) skew(-10deg) rotate(75deg);
            transform: translateY(0px) skew(-10deg) rotate(75deg);
  }
  .is-open .burger:after {
    -webkit-transform: translateY(-12px) translateX(10px) skew(-20deg);
            transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
  }
  /* MENU Text part */
  .burger-text {
    display: block;
    font-size: .675rem;
    letter-spacing: .05em;
    margin-top: .5em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: #5A3B5D;
  }
  .container_nav {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
    background: linear-gradient(to bottom, #eee, #ddd);
  }
}
/*# sourceMappingURL=main.css.map */