
        <div class="device">
				<div class="container_nav">
					<div class="logo_container">
						<a href="#">
							<img src="images/logo/Crowdyvest_logo.svg" class="img-fluid" alt="Crowdyvest Logo">
						</a>
					</div>
					<button id="burger" class="open-main-nav buger_dashboard">
						<span class="burger"></span>
						<span class="burger-text">Menu</span>
					</button>
					<nav class="main-nav dashboard_nav_hide" id="main-nav">
						<ul>
							<li>
								<a href="#">Why Crowdyvest?</a>
							</li>
							<li>
								<a href="#">How it works</a>
							</li>
							<li>
								<a href="index.html">Log out</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>