
        <div class="row">
            <div class="col-12 text-center news-letter pad-row">
                <h4>Missed out on a farm sale?</h4>
                <p>Sign up to be the first to know when new farms go live.</p>
                <form class=" form-row" action="">
                    <div class=" col-lg-5 offset-lg-3 col-md-6 offset-md-2 offset-1 col-6">
                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-subscribe col-4 col-md-2 col-lg-1 mb-2">Subscribe</button>
                </form>
            </div>

        </div>